@model CreateProductDto

@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-10" style="margin-top:20px;">
                <section class="panel">
                    <header class="panel-heading">
                        Ürün Ekle
                    </header>
                    <div class="panel-body">
                        <form class="form-horizontal " method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Ürün Adı</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" asp-for="ProductName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Ürün Görseli</label>
                                <div class="col-sm-5">
                                    <input type="file" class="form-control" asp-for="Photo">
                                </div>
                            </div>
                            <input name="SavedUrl" type="hidden" class="form-control" />
                            <input name="SavedFileName" type="hidden" class="form-control" />

                            <div class="form-group">
                                <label for="CategoryId" class="col-sm-1 control-label">Ürün Kategorisi</label>
                                <select asp-for="CategoryId" id="CategoryId" class="col-md-4">
                                    <option disabled selected>Seçiniz</option>
                                    @foreach (var item in ViewBag.categories)
                                    {
                                        <option value="@item.CategoryId">@item.CategoryName</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Ürün Fiyatı</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" asp-for="Price">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Ürün Stok</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" asp-for="Stock">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success">Kaydet</button>
                        </form>
                    </div>
                </section>
                <!-- page end-->
    </section>
</section>
