@model CreateCategoryDto

@{
    Layout = "_AdminLayout"; ;
}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-10" style="margin-top:20px;">
                <section class="panel">
                    <header class="panel-heading">
                        Kategori Ekle
                    </header>
                    <div class="panel-body">
                        <form class="form-horizontal " method="post">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Kategori Adı</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" asp-for="CategoryName">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success">Kaydet</button>
                        </form>
                    </div>
                </section>
                <!-- page end-->
    </section>
</section>